<%- include('partials/header') -%>
<main class="container jumbotron">
<!--------- h2  ------>
  <div class="row justify-content-center mt-5">
    <h2 class="text-center cursive"><%= post.title %></h2>
  </div>

  <div class="row justify-content-center mt-5">

  <!-------- IMAGE -------->
    <div class="col-8">
      <img class="img-fluid center-block d-block mx-auto img-max" src="<%= post.image%>" />
    </div>

    <!--------- POST CAPTION ---------->    
    <div class="col-6 mt-5 text-center">
      <p><strong><em><%= post.caption %></em></strong></p>
    </div>

<!-------- LIKES, DELETE ------->
      <div class="row mt-5">
      <div class="col-4 list-inline mx-auto">
        <!-- <ul  class="list-group list-group-horizontal-lg justify-content-center">     -->
          <ul class="list-inline justify-content-center">  

<!-- LIKES -->

          <li class="list-inline-item ">
            <form
              class="col-3"
              action="/post/likePost/<%= post.id %>?_method=PUT"
              method="POST"
            >

<!-- HEART BUTTON -->
              <button id="post" class="col-2 btn btn-dark fa fa-heart" type="submit"></button>
            </form>
          </li>
          <li class="list-inline-item">
            <h3 class="col-6 text-center">Likes: <%= post.likes %></h3>

<!-- DELETE button -->
            <%if(post.user == user.id){ %>
            <form
              action="/post/deletePost/<%= post.id %>?_method=DELETE"
              method="POST"
              class="col-3"
            >
          </li>
          <li class="list-inline-item">
          <button id="post" class="btn btn-dark fa fa-trash" type="submit"></button>
        </form>
          <%}%>
        </li>
        </ul>
      </div>
    </div>

<!------- PROFILE & FEED BUTTONS -->

    <div class="col-4 mt-5">
      <a class="btn btn-dark post-profile" href="/profile">Return to Profile</a>
      <a class="btn btn-dark feed-btn" href="/feed">Return to Feed</a>
    </div>

  </div>

</main>

<%- include('partials/footer') -%>
