<%- include('partials/header') -%>

<!-- JUMBOTRON CONTAINER -->
<main class="container jumbotron justify-content-center">

  <div class="row justify-content-center col-sx-12 mt-5">
              <!-- HEADER -->
              <h1 class="justify-content-center cursive">Add to Your Closet</h2>
              <p class="text-center">Welcome, <strong><%= user.userName %>!</strong></p>
              <p class="text-center">Email: <strong><%= user.email %></strong></p>
              <a href="/logout" class="center col-3 btn btn-dark ">Logout</a>
          </div>

          <div class="row col-sx-12 justify-content-center mt-5">
            <h2 class="text-center">Add your clothing...</h2>
            <form class="form-group" action="/post/createPost" enctype="multipart/form-data" method="POST">
              <div class="mb-3 mx-auto col-6">
                  <label for="title" class="form-label">Name</label>
                  <input type="text" class="form-control" id="title" name="title" placeholder="e.g., blue coat">
              </div>
              <div class="mb-3 mx-auto col-6">
                <label for="caption" class="form-label">Description</label>
                <textarea class="form-control" id="caption" name="caption" placeholder="e.g., dark blue embroidered bomber jacket" max-length="60"></textarea>
              </div>
  
              <!-- image upload -->
              <div class="mb-3 mx-auto col-6 mb-5">
                <label for="imgUpload" class="form-label">Image</label>
                <input type="file" class="form-control " id="imageUpload" name="file">
              </div>

              <!-- submit button -->
              <div class="row justify-content-center mb-5">
              <button type="submit" class="btn btn-dark mb-5 col-3 center" value="Upload">Submit</button>
              </div>
            <!-- END OF FORM -->
            </form>

        <!-- END FORM FORMATTING -->
        </div> 

      <!-- IMAGE POST FEED -->
      <div class="row col-xs-12 justify-content-center">

        <ul class="list-unstyled w-100">
        <% for(var i=0; i<posts.length; i++) {%>
          <li class="col-6 mx-auto mt-3">
            <a href="/post/<%= posts[i]._id%>">
              <img class="img-fluid mx-auto p-3" src="<%= posts[i].image%>" alt="<%= posts[i].caption%>">
            </a>
          </li>
        <% } %>
        </ul>
        <div class="row col-4 mt-5">
          <a class="btn w-100 btn-dark" href="/feed">Return to Closet Collection</a>
        </div>  

        <!-- END OF IMAGE POST FEED -->
        </div>

  </div>

<!-- END JUMBOTRON CONTAINER -->
</main>

<!-- FOOTER -->
<%- include('partials/footer') -%>